/* ========================================================================================= */
/* ======================================= COLOR : #f0932b =================================== */
/* ========================================================================================= */
.loading .sk-folding-cube .sk-cube:before {
  background-color: #f0932b;
}
.s-header .header-overlay {
  background: -webkit-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -moz-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -o-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -ms-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
}
.s-header .middle-c .capt #cta {
  background: -webkit-linear-gradient(to right, #656D78, #434A54);
  background: -moz-linear-gradient(to right, #656D78, #434A54);
  background: -o-linear-gradient(to right, #656D78, #434A54);
  background: -ms-linear-gradient(to right, #656D78, #434A54);
  background: linear-gradient(to right, #656D78, #434A54);
}
.s-header .middle-c .capt a:hover {
  background: -webkit-linear-gradient(to right, #656D78, #434A54);
  background: -moz-linear-gradient(to right, #656D78, #434A54);
  background: -o-linear-gradient(to right, #656D78, #434A54);
  background: -ms-linear-gradient(to right, #656D78, #434A54);
  background: linear-gradient(to right, #656D78, #434A54);
}
.fixed .navbar-nav .active:hover a {
  color: #f0932b;
}
.fixed .navbar-nav .active a {
  color: #f0932b;
}
.sections .s-title h4:after {
  background-color: #f0932b;
}
.about .ab-cont .features .icon,
.about .ab-cont .features i {
  color: #f0932b;
}
.about .about-pic .over-pic {
  background: rgb(254, 140, 0, 0.7);
  background: -webkit-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -moz-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -o-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -ms-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
}
.skills .skills-br h2 {
  color: #f0932b;
}
.skills .skills-br h2:after {
  background: #f0932b;
}
.skills .skills-br li .progress-bar::before {
  background: #f0932b;
}
.skills .skills-br li .progress-bar span {
  border: 2px solid #f0932b;
}
.services .serv-box:hover::after {
  background: -webkit-linear-gradient(to right, #f0932b, #FE8C00);
  background: -moz-linear-gradient(to right, #f0932b, #FE8C00);
  background: -o-linear-gradient(to right, #f0932b, #FE8C00);
  background: -ms-linear-gradient(to right, #f0932b, #FE8C00);
  background: linear-gradient(to right, #f0932b, #FE8C00);
}
.services .serv-box .icon,
.services .serv-box i {
  color: #f0932b;
}
.portfolio .filter-work a {
  border: 1px solid #f0932b;
}
.portfolio .filter-work .is-checked {
  background-color: #f0932b;
}
.portfolio .filter-work a:hover {
  background-color: #f0932b;
}
.portfolio .work-caption .overlay {
  background: -webkit-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -moz-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -o-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: -ms-linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
  background: linear-gradient(to right, rgba(240, 147, 43, 0.7), rgba(254, 140, 0, 0.7));
}
.pricing .price-tabs .active a {
  background-color: #f0932b;
}
.pricing .p-it .price-item .it-type h4 {
  color: #f0932b;
}
.pricing .p-it .price-item .get-started a {
  color: #f0932b;
  border: 2px solid #f0932b;
}
.pricing .p-it .price-item .get-started a:hover {
  background-color: #f0932b;
}
.pricing .best-deal .overlay {
  background: -webkit-linear-gradient(to right, rgba(240, 147, 43, 0.8), rgba(254, 140, 0, 0.8));
  background: -moz-linear-gradient(to right, rgba(240, 147, 43, 0.8), rgba(254, 140, 0, 0.8));
  background: -o-linear-gradient(to right, rgba(240, 147, 43, 0.8), rgba(254, 140, 0, 0.8));
  background: -ms-linear-gradient(to right, rgba(240, 147, 43, 0.8), rgba(254, 140, 0, 0.8));
  background: linear-gradient(to right, rgba(240, 147, 43, 0.8), rgba(254, 140, 0, 0.8));
}
.pricing .best-deal .best-tag p {
  color: #f0932b;
}
.pricing .best-deal .price-item .get-started a {
  color: #f0932b;
  background-color: #FFF;
  border-color: #FFF;
}
.pricing .best-deal .price-item .it-type h4,
.pricing .best-deal h5 {
  color: #FFF;
}
.work-st .work-scon .step-box .numb span {
  background: #f0932b;
  background: -webkit-linear-gradient(to right, #f0932b, #FE8C00);
  background: -moz-linear-gradient(to right, #f0932b, #FE8C00);
  background: -o-linear-gradient(to right, #f0932b, #FE8C00);
  background: -ms-linear-gradient(to right, #f0932b, #FE8C00);
  background: linear-gradient(to right, #f0932b, #FE8C00);
}
.work-st .work-scon .step-box:after {
  background: #f0932b;
  background: -webkit-linear-gradient(to right, #f0932b, #FE8C00);
  background: -moz-linear-gradient(to right, #f0932b, #FE8C00);
  background: -o-linear-gradient(to right, #f0932b, #FE8C00);
  background: -ms-linear-gradient(to right, #f0932b, #FE8C00);
  background: linear-gradient(to right, #f0932b, #FE8C00);
}
.work-st .work-scon .step-box:hover .numb span {
  color: #f0932b;
}
.testimonials .t-item .testimonial-box h4 {
  color: #f0932b;
}
.testimonials .t-item .testimonial-box:hover {
  background-color: #f0932b;
}
.blog .bg-item .bg-tt h4 {
  color: #f0932b;
}
.blog .bg-item .bg-tt .rd-more a {
  color: #f0932b;
  border: 2px solid #f0932b;
}
.blog .bg-item .bg-tt .rd-more a:hover {
  background-color: #f0932b;
}
.blog .blog-item .blog-co .post-info p {
  border: 1px solid #f0932b;
  background: #f0932b;
}
.blog .blog-item .blog-co .post-info h3:hover {
  color: #f0932b;
}
.contact .cont-title .info li .icon,
.contact .cont-title .info li i {
  color: #f0932b;
}
.contact .contact-form .button {
  border: 2px solid #f0932b;
  color: #f0932b;
}
.contact .contact-form .button:hover {
  background-color: #f0932b;
}
.contact-item input:focus,
.contact-item textarea:focus {
  border-color: #f0932b;
}
.footer .sc-icon a:hover span {
  border-color: #f0932b;
  background-color: #f0932b;
}
